#footer {
  text-align: center;
<<<<<<< HEAD
  padding: 50px 0px;
}

.footericons {
  font-size: 28px;
  margin-top: 10px;
}

.footerheadings {
  font-size: 20px;
  margin-top: 4px;
}

a {
  color: #000000;
}

a:hover {
  color: #444444;
  text-decoration: underline;
}

.socialnetworkicons {
  font-size: 50px;
}

.socialnetworklinks {
  margin: 20px 30px 0px 30px;
}

.socialnetworklinks {
  margin: 30px;
}

@media (min-width: 768px) {
  .socialnetworklinks {
    margin: 80px;
  }
}

#copyrightheading {
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
=======
  padding: 10px 0px;
  background-color: whitesmoke;
}


.footerheadings {
  font-size: 16px;
  margin-top: 4px;
}

#copyrightheading {
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
>>>>>>> 568b42e04301589b4916117c8a6cf80ea84eb0fa
}

